
<!-- Single Article -->
<div class="article flex flex-center p2">
	<div class="container mx-auto">
		<div class="clearfix">
			<img src="<%= @article.featured_image %>">
			<h1><%= @article.title %></h1>
			<p><%= @article.publish_date %></p>
			<p><%= @article.author %></p>
			<p><%= @article.source %></p>
			<p><%= @article.description.html_safe %></p>
			<p><%= @article.search_name %></p>
			<%= button_to "Favorite", controller: "articles", action: "favorite_article", :guid => @article.guid, :id => @article.id, remote: true %>
		</div>
	</div>
</div>
