<!-- Single Article View -->
<div class="article">
	<div class="img__article">
		<img class="fit" src="<%= @article.featured_image %>">
	</div>
	<div class="container mx-auto px2">
		<div class="clearfix">
			<h1 class="article__title"><%= @article.title %></h1>
			<hr>
			<div class="meta">
				<span><%= @article.publish_date %></span>
				<span><%= @article.author %></span>
				<span><%= @article.source %></span>
			</div>
			<hr>
			<p><%= @article.description.html_safe %></p>
			<p><%= @article.search_name %></p>
			<!-- <p><button class = "fixed top-0 btn btn-primary"> -->
			<%= button_to "Favorite", {controller: "articles", action: "favorite_article", :guid => @article.guid, :id => @article.id, remote: true}, {class:"fixed top-0 btn btn-primary"} %>
			<!-- </button></p> -->
		</div>
	</div>
</div>
